@charset "UTF-8";

@media print {

  /* Margins */

  @page {
    margin: 2cm;
  }

  /* Fonts */

  body {
    background: #fff !important;
    color: #000;
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  h1 {
    font-size: 20pt;
  }

  h2,
  h3,
  h4 {
    font-size: 14pt;
    margin-top: 1cm;
  }

  /* Page breaks */

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  /* Links */
  
  a:link,
  a:visited,
  a {
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
  }

  a[href^=http]:after {
    content: " < " attr(href) "> ";
  }

  a {
    page-break-inside: avoid;
  }

  a:after > img {
    content: "";
  }

  /* Visibility */

  nav,
  .search-form,
  .nav {
    display: none;
  }
}
