/* - - - - - - - - - - - - - - - - - - - - - - - - - -
/* LOADER
*/
.loader-wrap {
    position:absolute;
    pointer-events:none;
    width:100%;
    height:100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:10;
    background:rgba(white,0.85);
    opacity:0;
    transition:opacity 350ms ease-in-out;

    &.loading {
        pointer-events:auto;
        opacity:1;
    }

    .ham-loader,
    .ham-loader:before,
    .ham-loader:after {
        border-radius:50%;
        width:2.5em;
        height:2.5em;
        animation:load 1.8s infinite ease-in-out;
    }
    .ham-loader {
        color:$primary;
        font-size:10px;
        margin:rem(100) auto;
        position:relative;
        text-indent:-9999em;
        transform:translateZ(0);
        animation-delay:-0.16s;

        &:before,
        &:after {
            content:'';
            position:absolute;
            top:0;
        }

        &:before {
            left: -3.5em;
            animation-delay: -0.32s;
        }

        &:after {
            left: 3.5em;
        }
    }
}

.load-more-wrap {
    width:100%;
    display:flex;
    justify-content:center;
    margin:rem(100) auto 0 auto;
}

@keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.posts-wrap {
    display:grid;
    grid-row-gap:rem(50);
    grid-column-gap:rem(50);
    grid-template-columns:1fr;

    &.gap-30 {
        grid-row-gap:rem(30);
        grid-column-gap:rem(30);
    }

    &.sm-col2 {
        grid-template-columns:1fr 1fr;
    }

    @media(min-width:$sm) {
        &.md-col2 {
            grid-template-columns:1fr 1fr;
        }

        &.md-col3 {
            grid-template-columns:1fr 1fr 1fr;
        }

        &.md-col4 {
            grid-template-columns:1fr 1fr 1fr 1fr;
        }
    }

    @media(min-width:$md) {
        &.lg-col2 {
            grid-template-columns:1fr 1fr;
        }

        &.lg-col3 {
            grid-template-columns:1fr 1fr 1fr;
        }

        &.lg-col4 {
            grid-template-columns:1fr 1fr 1fr 1fr;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
/* ARTICLE
*/
article {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:flex-start;
    padding-top:rem(30);
    margin-top:rem(30);

    h3 {
        font-size:rem(24);
        color:$secondary;
        margin-bottom:rem(5);
    }

    .img-wrap {
        width:100%;
        text-align:center;
        padding-bottom:56.25%;

        img {
            display:block;
        }
    }

    .blog-content {
        width:100%;
        margin-top:10px;
    }
}

.post-meta {
    a {
        color:$secondary;
    }
}

.results-wrap {
    position:relative;

    .loader-wrap {
        display: flex;
        align-items: flex-start;
    }

    .no-results {
        text-align:center;
        font-size:rem(30);
        padding:rem(50);
        grid-column-end:span 3;
        background:$primary;
    }
}

.pagination {
    clear:both;
    width:100%;
    margin-top:rem(25);
    text-align:center;

    > *{
        display:inline-block;
        font-size:rem(14);
        padding:rem(10);
        line-height:1;
        text-align: center;
        background:rgba($primary_rgb,0.85);
        color:white;
        font-weight: bold;
        transition:all 300ms ease-in-out;

        &.current{
            background:$primary;
        }

        &:not(.current){
            &:hover,
            &:focus{
                background:$primary;
            }
        }
    }
}

// share
.post-share-wrap {
    margin:rem(30) 0;
    display:flex;
    flex-wrap:nowrap;
    grid-gap:rem(15);
    align-items:center;
}

.share-text {
    font-size:rem(18);
    position:relative;
}

.entry-content .social-share {
    padding:0;
    list-style:none;
    clear:both;
    display:flex;
    grid-gap:rem(10);
    flex-wrap:nowrap;
    margin:0;


    li {
        padding:0;
        width:rem(40);
        height:rem(40);
        margin:0;

        &:before {
            display:none;
        }

        a {
            @extend %icon;
            background:$gray;
            color:$primary;
            width:100%;
            height:100%;
            text-align:center;
            font-size:rem(22);
            line-height:1.9;
            display:block;
            border-radius:50%;
            text-decoration:none;
            transition:color 350ms ease-in-out;

            &:hover {
                color:$secondary;
            }
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
/* COMMENTS - REMOVE IF NOT USING
*/

.comments {
    margin-top:rem(30);
}

.comment {

    article {
        padding:rem(20);
        margin-bottom:rem(20);
        background:$gray;
    }

    &:first-child {
        border-top:0;
    }

    &.depth-2 {
        margin-left:rem(50);
    }

    .avatar {
        float:left;
        margin-right:rem(20);
        margin-bottom:rem(20);
    }
}

.comment-respond {
    margin-top:rem(30);

    .comment-notes {
        color:$gray_dark;
        font-style:italic;
        font-size:rem(14);
    }

    form {
        label {
            display:block;
            width:100%;
        }

        input {
            border:1px solid $gray;
        }

        textarea {
            width:100%;
            border:1px solid $gray;
        }
    }

    .form-submit input {
        @extend %btn;
    }
}