@font-face {
  font-family: 'hammer';
  src: url('../../assets/fonts/hammer.eot?63089631');
  src: url('../../assets/fonts/hammer.eot?63089631#iefix') format('embedded-opentype'),
       url('../../assets/fonts/hammer.woff2?63089631') format('woff2'),
       url('../../assets/fonts/hammer.woff?63089631') format('woff'),
       url('../../assets/fonts/hammer.ttf?63089631') format('truetype'),
       url('../../assets/fonts/hammer.svg?63089631#hammer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "hammer";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-left-open-big:before { content: '\3c'; } /* '<' */
.icon-right-open-big:before { content: '\3e'; } /* '>' */
.icon-mail:before { content: '\45'; } /* 'E' */
.icon-facebook:before { content: '\46'; } /* 'F' */
.icon-google:before { content: '\47'; } /* 'G' */
.icon-instagram:before { content: '\49'; } /* 'I' */
.icon-linkedin:before { content: '\4c'; } /* 'L' */
.icon-pinterest:before { content: '\50'; } /* 'P' */
.icon-logo:before { content: '\54'; } /* 'T' */
.icon-up:before { content: '\55'; } /* 'U' */
.icon-cancel:before { content: '\58'; } /* 'X' */
.icon-youtube:before { content: '\59'; } /* 'Y' */
.icon-search-1:before { content: '\73'; } /* 's' */
.icon-down:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */