footer {
    background:$gray;
    clear:both;
}

.footer {
    text-align:center;

    @media(min-width:$sm) {
        justify-content:space-between;
        text-align:left;
    }

    p {
        width:100%;
        margin:0;
        font-size:rem(14);

        @media(min-width:$sm) {
            width:auto;
        }
    }
    
    .site-by {
        &:hover {
            svg path {
                fill:#77b856;
            }
        }

        svg {
            max-width:rem(350);

            path {
                transition:fill 350ms ease-in-out;
                fill:$primary;
            }
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
/* BACK TO TOP
*/
.back-to-top {
    position:fixed;
    bottom:30px;
    right:-100px;
    opacity:0;
    background:$primary;
    color:white;
    text-align:center;
    border:0;
    padding:0 10px;
    height:30px;
    line-height:30px;
    border-radius:0;
    transition:all 350ms ease-in-out;
    -webkit-appearance:none;
    z-index:100;
    border-radius:4px 0 0 4px;
    pointer-events:none;

    &.show {
        opacity:1;
        right:0;
        pointer-events:auto;
    }

    &:hover,
    &:focus {
        background:$secondary;
    }

    &:before {
        margin:0;
        width:auto;
        font-size:rem(16);
        position:relative;
        top:0;
    }
}