$form_description: $gray_dark;
$form_label_color: $black;
$form_input_color: $black;
$form_focus_border: $primary;
$form_ajax_color: $primary;
$form_input_bg_color: #efefef;
$form_input_bg_color_focus: #f2f2f2;
$form_input_height: 50px;
$form_input_padding:rem(20);

.gform-theme.gform-theme--framework.gform-theme--foundation.gform_wrapper {
    margin:0 auto rem(25) auto;
    width:100%;
    position:relative;

    &.gform-theme--foundation .gform_fields,
    &.gform-theme--foundation .gfield.multi .ginput_complex {
        width:100%;
        grid-column-gap:rem(20);
        grid-row-gap:rem(20);
    }

    .gform_anchor {
        display:inline;
    }

    img{
        padding:0;
    }

    .gform_fields {
        list-style:none;
        margin:0;
        padding:0;
    }

    .gform_button {
        border:none;
        outline:none;
    }

    .gform_heading {
        margin:0 0 rem(10);
    }

    .gform_title {
        display:block;
        margin:0 0 rem(10) 0;
        font-size:rem(30);
    }

    .gform_body {
        margin:0;
    }

    .validation_error {
        margin:rem(20) 0 0;
        font-size:rem(14);
        line-height:rem(20);
        color:darken(red,20%);
        border:none;
        background:transparent;
    }

    .gform_footer,
    .gform_page_footer {
        margin:rem(20) 0 0;
        position:relative;

        .gform_next_button,
        .gform_previous_button,
        button {
            @extend %btn;
            width:100%;
        }
    }

    .gform_required_legend {
        font-size:rem(13);
        font-style:italic;
    }

    .gfield {
        overflow:hidden;
        padding:0;
        border:none;
        background:none;
        position:relative;

        &.gfield_error {
            border:none;
            background:transparent;
            width:100%;

            .gfield_label {
                color:$primary;
                margin-left:0;
            }

            .ginput_container {
                margin:0;
            }
        }

        .gfield_description {
            display:inline-block;
            font-size:rem(13);
            line-height:rem(15);
            margin:rem(10) 0 0 0;
            font-style:italic;
            color:$form_description;

            &.validation_message {
                color:darken(red,20%);
            }
        }

        > label,
        > .gfield_label {
            color:$form_label_color;
            font-size:rem(16);
            width:100%;
            font-weight:600;
            padding:0 0 rem(10) 0;

            .gfield_required {
                color:darken(red,20%);
                margin-left:3px;
            }
        }

        > .ginput_container,
        .clear-multi {
            width:100%;

            label {
                display:block;
                font-size:rem(13);
                line-height:rem(10);
                margin:rem(5) 0 0 0px;
                font-style:italic;
                color:$form_description;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="number"],
        input[type="tel"],
        input[type="range"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        select,
        textarea {
            color:$form_input_color;
            border:none;
            border-bottom:2px solid transparent;
            background:$form_input_bg_color;
            padding:0 $form_input_padding;
            font-size:rem(16);
            letter-spacing:1px;
            height:$form_input_height;
            line-height:1;
            width:100%;
            transition:all 250ms ease-in-out;
            -webkit-backface-visibility:hidden;
            -webkit-appearance:none;
            outline-offset:0;
            border-radius:0;

            &:focus {
                background:$form_input_bg_color_focus;
                border-bottom-color:$form_focus_border;
            }

            &:disabled {
                opacity: 0.7;
            }
        }

        textarea {
            width:100%;
            height:125px;
            max-width:100%;
            resize:vertical;
            padding:$form_input_padding;
        }

        select {
        }

        select[multiple] {
            height: auto;
        }

        select:-moz-focusring {
            color:transparent;
            text-shadow:0 0 0 #000;
        }

        textarea {
            resize:vertical;
        }

        &.fileupload {
            margin-top:rem(25);

            input[type=file] {
                width:0.1px;
                height:0.1px;
                overflow:hidden;
                position:absolute;
                z-index:-1;
                opacity:0;
            }

            .screen-reader-text {
                font-size:rem(14);
                opacity:0.4;
                font-style:italic;
            }

            &:before {
                position:absolute;
                left:0;
                top:0;
                width:45%;
                content:'File Upload';
                text-align:left;
                padding-right:10px;
                display:block;
                padding-left:0;
                background:none;
                border-radius:0;
                font-weight:600;
                color:#333;
                padding-top:10px;
            }

            label {
                font-size:20px;
                cursor:pointer;
                display:inline-block;
                overflow:hidden;
                position:relative;
                padding:10px;
                text-align:center;
                color:$form_label_color;
                background:white;
                border:2px dashed $gray;
                transition:border 300ms ease-in-out;

                &:hover,
                &:focus {
                    border-color:$primary;
                }

                .gfield_required {
                    display:none;
                }

                &:before {
                    content:'\e804';
                    margin-right:10px;
                    display:inline-block;
                    @extend %icon;
                }
            }

            input[type=button] {
                background:$secondary;
                border:0;
                padding:5px 20px;
                font-weight:200;
                color:white;
                font-size:rem(18);
            }

            .gfield_description {
                margin:0;
                padding:0;
                top:50px;
                left:0;
                position:absolute;
                width:25%;
                display:inline-block;

                &.validation_message {
                    top:3px;
                    right:3px;
                    text-align:right;
                }
            }

            div[id^="gform_preview"] {
                clear:both;
                width:100%;

                div {
                    display:inline-block;
                    margin-right:rem(15);
                }

                img {
                    display:inline-block;
                }
            }
        }

        &.select,
        .address_country,
        .ginput_container_time:last-child {
            position:relative;

            &:before {
                display:block;
                background:transparent;
                top:41px;
                right:15px;
                width:auto;
                height:auto;
                content:'\e802';
                position:absolute;
                pointer-events:none;
                font-size:rem(25);
                line-height:1;
                color:$primary;
                @extend %icon;
            }
        }

        .address_country,
        .ginput_container_time:last-child {
            &:before {
                top:16px;
            }
        }

        &.section {
            h2 {
                font-size:rem(24);
                margin:rem(10) 0 0 0;
                padding-top:rem(10);
                border-top:1px solid $gray;
            }
        }

        &.radio,&.checkbox {
            > .ginput_container {
                .gfield_radio,
                .gfield_checkbox {
                    display:flex;
                    flex-wrap:wrap;
                    grid-gap:rem(20);
                }

                input {
                    @extend %hidden;
                }

                input[type=checkbox] {
                    &:checked{
                        + label {
                            &:after {
                                content:"✓";
                                color:$secondary;
                                font-style:normal;
                                font-size:rem(24);
                                line-height:10px;
                                text-indent:0px;
                            }
                        }
                    }
                }

                input[type=radio] {
                    &:checked {
                        + label {
                            &:after {
                                border-color:$gray_dark;
                                background:$secondary;
                            }
                        }
                    }

                    + label {

                        &:after {
                            border-radius:11px;
                        }
                    }
                }

                label {
                    font-size:rem(16);
                    line-height:rem(17);
                    position:relative;
                    padding-left:rem(35);
                    margin:0;

                    &:hover,
                    &:focus {
                        cursor:pointer;
                    }

                    &:after {
                        content:"";
                        width:16px;
                        height:16px;
                        display:block;
                        background:darken(#FFFFFF,10%);
                        border:1px darken(#FFFFFF,15%) solid;
                        position:absolute;
                        top:50%;
                        left:5px;
                        transform:translateY(-50%);
                    }
                }
            }
        }
    }

    .hide_labels {
        .gfield > label {
            @extend %hidden;
        }
    }

    .gf_progressbar_wrapper {
        position:absolute;
        top:15px;
        right:15px;

        h3 {
            color:$primary;
            font-size:.75em;
        }
    }

    .gf_progressbar {
        display:none;
    }

    .gform_ajax_spinner {
        position:absolute;
        left:-35px;
        bottom:12px;
        border:4px solid rgba(255, 255, 255, 0.3);
        border-left:4px solid $form_ajax_color;
        animation:spinner 1.1s infinite linear;
        border-radius:50%;
        width:30px;
        height:30px;
    }

    @media(min-width:841px) {
        .horizontal_form {
            display:flex;
            justify-content:space-between;

            .gform_body {
                flex-basis:70%;
            }

            .gform_footer {
                flex-basis:calc(30% - 2rem);
                margin-top:0;

                button {
                    margin:0;
                    width:100%;
                }
            }
        }

        .gform_footer,
        .gform_page_footer {
            .gform_next_button,
            .gform_previous_button,
            button {
                width:auto;
            }
        }
    }
}

@keyframes spinner {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.gform_confirmation_message {
    font-weight:300;
    letter-spacing:1px;
    line-height:1.875em;
    padding:rem(15);
    color:white;
    text-align:center;
    background:$primary;
    border:2px $gray_dark solid;
}