:root {
    :where(*, *::before, *::after) {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    :where(body) {
        padding:$header_height_mobile 0 0 0;
    }
}

html {
    font-size:62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:$header_height_mobile;

    @media(min-width:$sm) {
        scroll-padding-top:$header_height;
    }
}

body {
    margin:0;
    color:$black;
    font:normal rem(16)/1.65 $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media(min-width:$sm) {
        padding-top:$header_height;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
    margin:0;
    padding:0;
    line-height:1.2;
    font-optical-sizing:auto;
}

h1,
.h1 {
    font-size:clam(3.5rem,5rem);
}

h2,
.h2 {
    font-size:clam(2.75rem,3.5rem);
}

h3 {
    font-size:clam(2.2rem,2.8rem);
}

h4 {
    font-size:rem(26);
}

h5 {
    font-size:rem(22);
}

h6 {
    font-size:rem(18);
}

p {
    margin: 0 0 rem(10);
}

.content-overflow {
    overflow:hidden;
}

a:focus {
    outline:thin dotted;
}