$table_padding:8px 10px;

.tablepress.tablepress {
    --head-bg-color:var(--color_primary);
    --head-text-color:white;
    --padding:$table_padding;
    --even-bg-color:white;
    --odd-bg-color:#F1FAFF;
}

.entry-content {
    /* - - - - - - - - - -
    COLORS
    */
    .has-white-color {
        color:$white;
    }

    .has-black-color {
        color:$black;
    }

    .has-primary-color {
        color:$primary;
    }

    .has-secondary-color {
        color:$secondary;
    }

    .has-gray-color {
        color:$gray;
    }

    /* - - - - - - - - - -
    BACKGROUND
    */
    .has-white-background-color {
        background:$white;
    }
    
    .has-black-background-color {
        background:$black;
    }
    
    .has-primary-background-color {
        background:$primary;
    }
    
    .has-secondary-background-color {
        background:$secondary;
    }

    .has-gray-background-color {
        background:$gray;
    }

    /* - - - - - - - - - -
    TABLE
    */
    figure.wp-block-table,
    table.tablepress.tablepress {
        overflow:hidden;
        max-width:calc(100% - 6rem);

        @media(min-width:$lg) {
            max-width:$lg;
        }
    }

    table,
    table.tablepress.tablepress {
        border:1px solid $primary;
        border-radius:10px;
        
        td,th {
            border:0;
        }

        thead {
            th {
                font-size:rem(18);
                font-weight:bold;
                color:white;
                background:$primary;
                padding:$table_padding;
                text-align:center;

                + th {
                    border-left:1px solid white;
                }
            }
        }

        tr {
            td {
                font-size:rem(16);
                padding:$table_padding;
                border-bottom:1px solid $primary;

                &:first-child {
                    font-weight:bold;
                }
                
                + td {
                    border-left:1px solid $primary;
                }
            }
        }
    }

    /* - - - - - - - - - -
    COVER
    */
    .wp-block-cover {
        padding:rem(30) 0;

        .wp-block-cover__inner-container {
            max-width:$container-lg;
            padding:0 rem(20);
        }
    }

    /* - - - - - - - - - -
    DETAILS
    */
    .wp-block-details,
    .block.expandable {
        position:relative;
        overflow:hidden;
        display:block;
        margin-bottom:rem(15);
        transition:max-height 300ms ease-in-out;

        &[open] {
            summary::before {
                content:'-';
            }
        }

        .ham-expand-content {
            padding:rem(10) 0 0 rem(20);
        }

        summary {
            display:inline-block;
            text-decoration: none;
            cursor:pointer;
            color:white;
            font-weight:$bold;
            font-size:rem(16);
            position:relative;
            padding:rem(14) rem(40) rem(14) rem(20);
            background:$primary;
            width:100%;
            line-height:1.3;
            border-radius:rem(5);

            &::before {
                color:$secondary;
                display: block;
                font-style:normal;
                font-weight:normal;
                content: '+';
                font-size:rem(24);
                position:absolute;
                right:15px;
                top:12px;
                line-height:1;
                will-change:transform;
                transition:all 350ms linear;
                font-family:$icon;
            }

            &:hover::before,
            &:focus::before {
                color:$white;
            }
        }
    }

    /* - - - - - - - - - -
    GALLERIES
    */
    .wp-block-gallery {
        list-style-type: none;
        padding: 0;
        display:block;
        margin-top:rem(40);
        margin-bottom:rem(40);

        .swiper-wrapper {
            padding-bottom:rem(50);
        }

        .styled-btn {
            top:calc(50% - 4.75rem);
            position:absolute;
            z-index:10;
            height:auto;

            &.gallery-button-prev {
                left:rem(15);

                @media(min-width:$sm) {
                    left:21.5%;
                }
            }

            &.gallery-button-next {
                right:rem(15);

                @media(min-width:$sm) {
                    right:21.5%;
                }
            }
        }

        figure.wp-block-image {
            flex-shrink: 0;
            width: 100%;
            height:0;
            padding-bottom:50%;
            position: relative;
            border-radius:rem(15);
            transition-property: transform;
            opacity:0.3;
            transition:opacity 350ms ease-in-out;

            &.swiper-slide-active {
                opacity:1;
            }

            img {
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                object-fit:cover;
            }

            @media(min-width:$sm) {
                height:rem(430);
                padding-bottom:0;
            }
        }

        &.has-nested-images figure.wp-block-image figcaption,
        figcaption {
            bottom:-2.5rem;
            line-height:1.1;
            color:$black;
            font-size:rem(14);
            font-style:italic;
            background:none;
            text-align:left;
            margin:0;
            padding:0 0 0 rem(10);
        }
    }

    /* - - - - - - - - - -
    IMAGES
    */
    figure {
        &.wp-block-image {
            max-width:100%;

            img {
                display:block;
            }
        }
    }

    .wp-block-image {
        .alignright,
        .alignleft {
            float:none;
            margin:rem(20) auto;
        }

        .aligncenter {
            margin-top:rem(30);
            margin-bottom:rem(30);
        }

        + .wp-block-heading {
            margin-top:rem(20);
        }

        @media(min-width:$sm) {
            .alignright,
            .alignleft {
                max-width:60%;
            }

            .alignright {
                float:right;
                margin:rem(5) 0 rem(20) rem(50);
            }

            .alignleft {
                float:left;
                margin:rem(5) rem(50) rem(20) 0;
            }
        }
    }

    /* - - - - - - - - - -
    GLOBALS
    */
    p.has-text-align-center {
        max-width:rem(960);
        margin-left:auto;
        margin-right:auto;
    }

    /* - - - - - - - - - -
    BUTTONS
    */
    .wp-block-button {
        &.is-style-alt {
            .wp-block-button__link {
                @extend %btn_alt;
            }
        }

        .wp-block-button__link {
            @extend %btn;
        }
    }

    p + .wp-block-buttons {
        margin-top:rem(20);
    }
}