.logo {
    margin:0 0 rem(10) 0;
    position:relative;

    svg {
        max-width:300px;
    }

    a {
        display:block;
        text-decoration: none;
    }
}

.header-wrap {
    display:block;
    background:$gray;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:2020;
    height:$header_height;

    .header {
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-between;
        height:100%;
        align-items:flex-end;
    }

    @media(min-width:$sm) {
        .hamburger {
            display:none;
        }
    }
}

.search-form-wrap {
    position:absolute;
    right:0;
    bottom:0;
    opacity:0;
    visibility:hidden;
    background:white;
    padding:rem(20);
    transform:translateY(110%);
    transition:all 500ms ease-in-out;

    form {
        display:flex;
        flex-wrap:nowrap;
    }

    label {
        width:calc(100% - 40px);
    }

    .search-field {
        width:100%;
        height:40px;
        border:1px solid $gray;
        border-right:0;
        padding:0;
        text-indent:10px;
        box-sizing:border-box;
    }

    .search-submit {
        @extend %btn;
        padding:0;
        height:40px;
        width:40px;
    }
}

html.search-open {
    .search-form-wrap {
        opacity:1;
        visibility:visible;
        transform:translateY(100%);
    }
}

body.admin-bar {
    .header-wrap {
        top:46px;

        @media(min-width:783px) {
            top:32px;
        }
    }

    .nav-wrap {
        top:$header_height + 46px;
    }
}

.hamburger {
    position:absolute;
    right:20px;
    top:25px;
}

$hamburger-padding-x           : 0;
$hamburger-padding-y           : 0;
$hamburger-layer-width         : 40px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-border-radius : 0px;
$hamburger-layer-color         : $primary;
$hamburger-hover-opacity       : 1;