.modal {
    display:none;

    &.is-open {
        display:block;
    }

    .btn {
        margin-bottom:0;
    }
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2021;
}

.modal__container {
    background-color: #fff;
    padding: rem(30);
    width:90%;
    max-width: 650px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;

    &.no-padding {
        padding:0;
        overflow-y:visible;

        .modal__content {
            margin-top:0;
        }

        .modal__close {
            right:-35px;
            top:-30px;
        }
    }
}

.modal__title {
    margin:0;
    font-weight: 600;
    font-size: rem(24);
    line-height: 1.25;
    color: $primary;
}

.modal__close {
    background: transparent;
    border: 0;
    @extend %icon;
    font-size:rem(30);
    line-height:1;
    font-weight:200;
    color:$secondary;
    position:absolute;
    right:10px;
    top:10px;
    z-index:10;
}

.modal__content {
    margin-top: rem(20);
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}

.modal[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal__container,
.modal__overlay {
    will-change: transform;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

@media(max-width:$sm-max) {
    .modal__container.no-padding .modal__close {
        right:-5px;
    }
}