.nav {
    padding:0;

    li {
        list-style: none;

        a {
            text-decoration: none;
            display:block;
        }
    }
}

@media(max-width:$sm-max) {
    .nav-wrap {
        background:$gray;
        height:auto;
        display: block;
        position:fixed;
        right:-100%;
        top:$header_height_mobile;
        width:100%;
        z-index: 1005;
        height:calc(100vh - #{$header_height_mobile});
        overflow-y:scroll;
        transition:right 600ms ease-in-out;
    }

    html.nav-open {
        .nav-wrap {
            right:0;
        }
    }

    .main-nav {
        li {
            width:100%;
            float:none;

            a {
                display:block;
                color:$black;
                font-size:rem(22);
                text-align:center;
            }
        }

        > li {
            position:relative;
            border-bottom:1px solid $gray_dark;

            > a {
                padding:18px 0 18px 18px;
                line-height:1;
                font-size:rem(18);
                text-align:left;
            }

            &.menu-item-has-children > a {
                width:calc(100% - 53px);
            }

            &.search-toggle {
                display:none;
            }

            > .sub-menu {
                max-height:0;
                overflow: hidden;
                padding:0;
                height:100%;
                opacity:0;
                transition:all 350ms ease-in-out;

                + .opener {
                    position:absolute;
                    right:0;
                    top:0;
                    width:53px;
                    height:53px;
                    font-size:rem(16);
                    text-align:center;
                    background:#ddd;
                    padding:0;
                    transition:background 350ms ease-in-out;

                    &::after {
                        content: '\3e';
                        line-height:53px;
                        transition:all 200ms ease-in-out;
                        font-family:$icon;
                        will-change:transform;
                        font-size:rem(20);
                        display:block;
                    }
                }

                > li {
                    background:#ddd;

                    + li {
                        border-top:1px solid $gray;
                    }

                    .sub-menu {
                        padding-left:rem(12);
                    }
                }

                li {

                    a {
                        padding:rem(10) rem(10) rem(10) rem(25);
                        font-size:rem(14);
                        text-align:left;
                    }
                }
            }

            &.open {
                > .opener {
                    background:$secondary;

                    &:after {
                        transform:rotate(90deg);
                        color:white;
                    }
                }

                > .sub-menu {
                    opacity:1;
                    max-height:1000px;
                }
            }
        }
    }
}

@media(min-width:$sm) {
    .main-nav {
        display:flex;

        li {
            position:relative;

            a {
                padding:10px 10px 15px 0;
                color:$black;
                transition:color 350ms ease-in-out;
            }

            &.current_page_item,
            &.current-page-ancestor {
                a {
                    color:$secondary;
                }
            }
        } // li
        
        // JUST THE FIRST SUBMENU - the dropdown
        > li {

            + li {
                margin-left:rem(15);
            } 

            > a {
                &:hover,
                &:focus {
                    color:$secondary;
                }
            }

            &:hover,
            &:focus {
                > .sub-menu {
                    opacity:1;
                    left:0;
                    visibility:visible;
                    transform:translateY(0%);
                    transition:opacity 350ms ease-in-out 0ms, transform 350ms ease-in-out 0ms, left 0ms linear 0ms;
                }

                > a {
                    color:$secondary;
                }
            }
            
            // SEARCH
            &.search-toggle {
                a {
                    font-family:$icon;
                    cursor:pointer;
                }

                &.active a {
                    color:$secondary;
                }
            }

            // MEGA-ZOID
            &.mega-menu {
                position:inherit; // the magic juice

                > ul {
                    position:absolute;
                    width:100%;
                    left:0;
                    display:flex;
                    padding:rem(30) rem(15) rem(20) rem(20);
                    justify-content:space-between;

                    // the columns
                    li {
                        margin:0;
                        float:none;
                        display:block;
                        padding:0;
                        flex:1 0 auto;
                        
                        // dropdown column UL
                        .sub-menu {
                            li {
                                width:100%;
                                float:none;
                                padding-left:2px;
                            }
                        }
                    }

                }
            }

            // NOT mega
            &:not(.mega-menu) {
                .sub-menu a {
                    padding:rem(5) rem(10);
                }

                &.menu-item-has-children {
                    > a {
                        border-bottom:none;
                    }
                }
            }

            // two column
            &.two-column {
                > .sub-menu {
                    column-count:2;
                    break-inside:avoid;
                }
            }

            // last child making sure it doesn't run off the screen
            &.last:not(.mega-menu) {
                > ul.sub-menu {
                    left:auto;
                    right:-9999px;
                }

                &:hover,
                &:focus {
                    > .sub-menu {
                        right:0;
                    }
                }
            }

            // general dropdown styling
            > .sub-menu {
                position: absolute;
                // bottom:0px;
                left: -9999px;
                opacity:0;
                transition:opacity 350ms ease-in-out 0ms, transform 350ms ease-in-out 0ms, left 0ms linear 350ms;
                z-index: 497;
                background:white;
                width: auto;
                height: auto;
                padding:rem(15);
                border-top:2px solid $primary;
                box-shadow:0 2px 5px rgba(black,0.1);
                white-space: nowrap;
                transform:translateY(2%);
                visibility:hidden;

                a {
                    color:$black;
                    text-decoration:none;
                    display:block;
                    position:relative;
                    transition:color 350ms ease-in-out;
                    padding:rem(5) rem(20);
                    line-height:1.25;
                    width:95%;

                    &:hover {
                        color:$secondary;
                    }
                }

                .sub-menu {
                    a {
                        font-size:rem(14);
                    }
                }

                li {
                    &.menu-item-has-children {
                        > a {
                            font-weight:600;
                            border-bottom:1px solid rgba(black,0.15);
                            transition:border 350ms ease-in-out;

                            padding:0 rem(20) rem(10);
                        }

                        &:hover {
                            > a {
                                color:$primary;
                                border-bottom-color:rgba(black,0.35);
                            }
                        }
                    }
                }
            }
        } // > li
    }
}

.social-nav {
    display:flex;
    justify-content:center;
    width:100%;
    grid-gap:rem(10);

    @media(min-width:$sm) {
        width:auto;
    }

    a {
        @extend %icon;
        color:$secondary;
        transition:color 350ms ease-in-out;

        &:hover,
        &:focus {
            color:$primary;
        }
    }
}