.top-header {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
    height:rem(250);
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:end;
    padding-bottom:rem(50);
    align-items:center;

    .intro-page-title {
        font-size:rem(40);
        line-height:1;
        color:white;
    }

    .container {
    }
}

.entry-content {
    padding:rem(50) 0 rem(50) 0;

    > * {
        @extend %container;

        &.align-wide,
        &.alignwide {
            max-width:$container-xl;
        }

        &.alignfull,
        &.full,
        &.fullwide {
            max-width:100%;
        }
    }

    p {
        &:empty {
            display:none;
        }

        + p {
            margin-top:rem(15);
        }

        + .wp-block-buttons {
            margin-top:rem(35);
        }

        &.wp-caption-text {
            margin:0;
            padding-top:5px;
            font-size:rem(14);
            font-style:italic;
            color:$primary;
        }
    }

    .external-link-icon {
        speak:never;
        text-transform:none;
        font-style:normal;
        margin-left:rem(3);

        &:before {
            @extend %icon;
            content: '\f08e';
            font-size:rem(10);
            position:relative;
            top:-3px;
        }
    }

    // LINK STYLING
    p,ol,ul {
        a {
            color:$primary;
            transition:all 350ms ease-in-out;

            &:hover,
            &:focus {
                text-decoration:none;
                color:$black;
            }
        }

        + .block:not(.responsive-spacer) {
            margin-top:$padding;
        }
    }

    hr {
        background:$gray;
        border: none;
        height: 0.1rem;
        overflow: visible;
        position: relative;
        margin:rem(40) auto;
    }

    .wp-caption,
    img {
        max-width:100%;
        height:auto;
    }

    ul,
    ol {
        margin-top:clam(1rem,2rem);
        margin-bottom:clam(1rem,2rem);
        padding-left:$padding;
    }

    ul {
        overflow:hidden;

        li {
            list-style:none;
            padding-left:15px;
            position:relative;
            margin-bottom:8px;
            font-weight:400;

            &:before {
                position:absolute;
                left:0;
                top:11px;
                line-height: 1;
                background:$primary;
                font-weight:100;
                content: '';
                width:6px;
                height:6px;
                border-radius:50%;
            }
        }
    }

    ol {
        list-style-type: none;
        counter-reset: step-counter;

        ol,
        ul {
            padding-left:0;
            margin-top:rem(10);
            margin-bottom:rem(10);
        }

        li {
            counter-increment: step-counter;
            position:relative;
            padding-left:30px;
            font-weight:400;

            + li {
                margin-top:0.5em;
            }

            &:before {
                content:counter(step-counter);
                position:absolute;
                left:-2px;
                top:3px;
                font-size: 80%;
                background-color:$secondary;
                color:white;
                font-weight: bold;
                height:20px;
                width:20px;
                line-height:20px;
                text-align: center;
            }

            ol,ul {
                > li {
                    font-size:rem(16);
                }
            }

            ol {
                counter-reset: step-counter;

                ol {
                    counter-reset: step-counter;
                }
            }

            ul {
                counter-reset: step-counter;

                > li {
                    list-style: none;
                    padding-left:15px;
                    position:relative;
                    margin-bottom:8px;
                    font-weight:400;

                    &:before {
                        position:absolute;
                        left:0;
                        top:10px;
                        line-height: 1;
                        background:$secondary;
                        font-weight:100;
                        content: '';
                        width:6px;
                        height:6px;
                        border-radius:50%;
                    }
                }
            }
        }
    }

    blockquote {
        border-left:2px solid $secondary;
        color: inherit;
        font-size:clam(1.8rem,2.8rem);
        margin:rem(30) auto;
        padding:rem(10) $padding;
        max-width:calc(100% - #{$padding} - #{$padding});

        cite {
            display: block;
            margin: rem(20) 0 0 0;
        }

        p:last-child {
            margin: 0;
        }

        @media(min-width:$lg) {
            max-width:$container-lg;
        }
    }

    cite {
        color: #aaa;
        font-size:rem(14);
        font-style: normal;
        font-weight: 600;
        line-height: 1.25;
    }
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.crumbs {
    margin-top:rem(20);

    a {
        text-decoration:none;
        color:$gray_dark;
    }
}

button.styled-btn {
    background:$secondary;
    color:$primary;
    width:rem(45);
    height:100%;
    line-height:rem(45);
    border-radius:rem(10);
    border:0;
    font-family:$icon;
    font-size:rem(24);
    text-align:center;
    font-weight:$bold;
    transition:all 350ms ease-in-out;

    &:hover,
    &:focus {
        background:$primary;
        color:white;
    }
}