body{
    font-family:$font;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.is-root-container {
    h1,h2,h3,h4,h5,h6,.h2,.h3 {
        font-weight:$bold;
        text-transform:uppercase;
        color:$black;
    }

    ul li::marker {
        color:$primary;
    }

    h2 {
        font-size:26px;
        text-transform:uppercase;
    }

    h3,.h3 {
        font-size:22px;
    }

    h4 {
        font-size:20px;
    }

    h5 {
        font-size:18px;
    }

    h6 {
        font-size:16px;
    }
}

/* Main column width */
.wp-block {
    max-width: 1100px;

    &:before {
        background:#f2f2f2;
        padding:5px;
        width:100%;
        content: attr(aria-label);
        box-sizing:border-box;
        display:none;
    }

    &[data-type="core/separator"] {
        clear:both;
    }


    &[data-type="core/columns"] {
        border:2px dashed #ccc;
        padding:10px 10px 0 10px;
    }

    &[data-type="core/spacer"] {
        border:2px dashed #ccc;
        padding:10px 10px 0 10px;
    }

    &[data-type="core/button"] {
        .wp-block-button__link {
        }
    }

    &[data-type="acf/responsive-spacer"] {
        .responsive-spacer {
            border:2px dashed #ccc;
            padding:20px 20px;
            &.size-xs {
                height:15px;
            }
            &.size-small {
                height:25px;
            }
            &.size-medium {
                height:50px;
            }
            &.size-large {
                height:100px;
            }
        }
    }
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1480px;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

// buttons //

.wp-block-button__link {
    border-radius:0;
}