html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
small {
  font-size: 80%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,img { 
	display:block;  
}  

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

blockquote, q {
	quotes: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul, ol {
  margin-left: 0;
}
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}
button,input[type=button],input[type=reset],input[type=submit] { 
	cursor:pointer; 
	-webkit-appearance:button; 
	overflow:visible;  
}  
input[type=checkbox],input[type=radio] { 
	box-sizing:border-box;
	padding:0;  
}  
input[type=search] { 
	-webkit-appearance:textfield; 
	-moz-box-sizing:content-box; 
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;  
}  
input[type=search]::-webkit-search-decoration { 
	-webkit-appearance:none;  
}  
button::-moz-focus-inner,input::-moz-focus-inner { 
	border:0; 
	padding:0;  
}  
textarea { 
	overflow:auto; 
	vertical-align:top;  
} 
input,
button,
textarea,
select {
  font-family:inherit;
  line-height:1.15;
  margin:0;
  font: inherit;
}
embed,
iframe,
object,
video {
    max-width:100%;
}

.alignright {
  float:right;
}

.alignleft {
  float:left;
}

.aligncenter {
  float:none;
  margin-left:auto;
  margin-right:auto;
}

b,strong {
    font-weight:bolder;
}
img {
  max-width: 100%;
  display: block;
  height:auto;
}
a:not(.btn):not(.wp-block-button__link) {
  &:hover,
  &:active {
    text-decoration:none; outline:none;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

    &:focus {
        background-color:#eee;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: black;
        display: block;
        font-size:0.875em;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

pre {
    tab-size:6;
    width: 90%;
    padding: 0;
    margin: 2em auto;
    overflow: auto;
    white-space: pre-wrap;
    overflow-y: hidden;
    font-size: 13px;
    line-height: 1.5;
    background: #efefef;
    border-left: 8px solid #b40b0b;
    padding: 10px;
    color: #333;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", monospace;
}

.skip-to-content {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;

    &:focus,
    &:active {
        color: #fff;
        background-color:#000;
        left: auto;
        top: auto;
        width: 30%;
        height: auto;
        overflow:auto;
        margin: 10px 35%;
        padding:5px;
        border-radius: 15px;
        text-align:center;
        font-size:1.2em;
        z-index:3001;
    }
}