%container {
    max-width:$container-lg;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    padding:0 $padding;

    &.wide {
        max-width:$container-xl;
    }
}

.container {
    @extend %container;
}

%btn {
    border:0;
    background:$black;
    color:white;
    padding:rem(10) $padding;
    font-size:rem(16);
    display:inline-flex;
    justify-content:center;
    align-items:center;
    outline:0;
    border-radius:rem(5);
    text-decoration:none;
    transition:all 350ms ease-in-out;

    &:hover,
    &:focus {
        background:$primary;
    }
}

%btn_alt {
    background:none;
    color:$black;
    border-bottom:2px solid $primary;

    &:hover,
    &:focus {
        border-bottom-color:$secondary;
    }
}

.btn {
    @extend %btn;

    &.alt {
        @extend %btn_alt;
    }
}

%icon {
    font-family:$icon;
}

%btn_strip {
    background:none;
    border:0;
    outline:none;
    margin:0;
    padding:0;
}

.strip {
    @extend %btn_strip;
}

// use this to visually hide things 
// (i.e. form labels - shouldn't be "display:none" for accessibility reasons)
%hidden {
    clip:rect(1px, 1px, 1px, 1px);
    clip-path:inset(50%);
    height:1px;
    width:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
}

.hide-me,
.hidden {
    @extend %hidden;
}

.img-wrap {
    position:relative;
    overflow:hidden;
    width:100%;

    img,
    figure {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate3d(-50%,-50%,0) scale(1);
        object-fit:cover;
        width:100%;
        height:100% !important;
        transition:all 350ms ease-in-out;
    }

    &.hover:hover,
    &.hover:focus {
        img {
            transform:translate3d(-50%,-50%,0) scale(1.05);
        }
    }
}

/* - WIDTH - */

.w-100 {
    width:100%;
}

.w-50 {
    width:50%;
}

.w-auto-sm {
    @media(min-width:$sm) {
        width:auto !important;
    }
}

.w-auto-md {
    @media(min-width:$md) {
        width:auto !important;
    }
}

/* - FLEX - */

.d-flex {
    display:flex !important;
}

.flex-wrap {
    flex-wrap:wrap;
}

.flex-wrap-sm {
    @media(min-width:$sm) {
        flex-wrap:nowrap !important;
    }
}

.flex-wrap-md {
    @media(min-width:$md) {
        flex-wrap:nowrap !important;
    }
}

.just-sm-end {
    @media(min-width:$sm) {
        justify-content:flex-end !important;
    }
}

.f-j-center {
    justify-content:center;
}

.f-j-sb {
    justify-content:space-between;
}

.f-a-center {
    align-items:center;
}

.f-bold {
    font-weight:$bold;
}

.gap-20 {
    grid-gap:rem(20);
}

.gap-30 {
    grid-gap:rem(30);
}

.gap-40 {
    grid-gap:rem(40);
}

/* - COLORS - */
.c-primary {
    color:$primary;
}

.c-secondary {
    color:$secondary;
}

.c-white {
    color:$white;
}

.c-black {
    color:$black;
}

.show-mobile {
    display:block !important;

    @media(min-width:$sm) {
        display:none !important;
    }
}

.show-desktop {
    display:none !important;

    @media(min-width:$sm) {
        display:block !important;
    }
}

/* - MARGIN / PADDING CLASSES
Examples: mt-20 = margin-top:20px;
- */
$auto: auto;
$directions: 't', 'b', 'l', 'r';
$mcss-property-map: ('t': margin-top, 'b': margin-bottom, 'l': margin-left, 'r': margin-right);
$pcss-property-map: ('t': padding-top, 'b': padding-bottom, 'l': padding-left, 'r': padding-right);
$sizes: 0, 5, 10, 20, 30, 40, 50, 60, 100, $auto;
@each $direction in $directions {
    @each $size in $sizes {
        .m#{$direction}-#{$size} {
        @if $size == $auto {
            #{map-get($mcss-property-map, $direction)}: $auto;
        } @else {
            #{map-get($mcss-property-map, $direction)}: #{$size}px;
        }
        }
        .p#{$direction}-#{$size} {
        @if $size == $auto {
            #{map-get($pcss-property-map, $direction)}: $auto;
        } @else {
            #{map-get($pcss-property-map, $direction)}: #{$size}px;
        }
        }
    }
}