// grid
$xs: 480px;
$sm: 768px;
$sm-max: 767px;
$md: 1024px;
$lg: 1200px;
$xl: 1400px;

$padding: var(--hammer_global__padding);
$gutter-width: calc(#{$padding} + #{$padding});
$container-md: calc(#{$md} + #{$gutter-width});
$container-lg: calc(#{$lg} + #{$gutter-width});
$container-xl: calc(#{$xl} + #{$gutter-width});

$header_height_mobile:65px;
$header_height:75px;

// Colors
$black: var(--color_black);
$white: var(--color_white);
$gray: var(--color_gray);
$gray_rgb: var(--color_gray_rgb);
$grey: $gray;
$gray_dark: var(--color_gray_dark);
$grey_dark: $gray_dark;
$primary: var(--color_primary);
$primary_rgb: var(--color_primary_rgb);
$secondary: var(--color_secondary);
$secondary_rgb: var(--color_secondary_rgb);


// Fonts
$icon: 'hammer';

$light: 300;
$regular: 400;
$bold: 600;

$font: Arial, Helvetica, sans-serif;

// Social Colors
$facebook: #3b5998;
$twitter: #00b6f1;
$youtube: #ff0000;
$instagrammagenta: #c32aa3;
$pinterest: #cb2027;
$googleplus: #df4a32;
$linkedin: #007bb6;