@import "../../assets/scss/core/variables";
@import "../../assets/scss/core/mixins";

// SPACER
.block.responsive-spacer {
    position: relative;
    width: 100%;
    clear:both;

    &.size-xs {
        height:rem(10);

        @media(min-width:$sm) {
            height:rem(25);
        }
    }
    &.size-small {
        height:rem(25);

        @media(min-width:$sm) {
            height:rem(50);
        }
    }
    &.size-medium {
        height:rem(50);

        @media(min-width:$sm) {
            height:rem(100);
        }
    }
    &.size-large {
        height:rem(100);

        @media(min-width:$sm) {
            height:rem(200);
        }
    }
}